lstm_bgc_labels/__pycache__/*

*.out
modelSave/*
resultSave/*

lstm_bgc_everygene/__pycache__/*
nohup_lstm_TD_batchLinear.out.bak2
nohup_lstm_TD_batchLinear.out.bak
transformer_BGC_TD/__pycache__/*

transformer_BGC_TD/loss.py
log/TransformerEncoder/*
data/corpus_word2vec.vector
data/corpus_word2vec.sav.syn1neg.npy
data/corpus_word2vec.sav.wv.vectors.npy
data/corpus_word2vec.sav
result/embedding_tsne.svg
result/tsne_model.pkl
